/* --- 기본 설정 start--- */
/* 많이 사용하는 색 지정 */
:root{
  --common_blue: #182663;   /* 남색 */
  --back_gray: #EBEBEB;     /* 배경 회색 */
  --aside_gray: #f8f8f8;     /* 프로필 회색 */
  --text_purple: #7A86B1;    /* 글자 회보라색 */
  --line_gray: #DADADA;      /* 테두리 회색 */
  --text_gray: #A6A6A6;      /* 글자 회색 */
}

/* 이비톡 로고 글씨체 */
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 이비톡 로고 제외 글씨체 */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  
  list-style: none;
  text-decoration: none;
  color: black;
}

html, body{
  width: 100%;
  height: 100%;
}
/* --- 기본 설정 end--- */


/* --- 배경 설정 start --- */
body{
  background-color: var(--common_blue);
  min-width: 1550px;
  min-height: 850px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-gray{
  background-color: var(--back_gray);
  width: 1550px; 

  display: flex;
  justify-content: center;
}

.background-white{
  background-color: white;
  width: 1400px;
  font-family: 'S-CoreDream-3Light';
  font-weight: 900; 
}

.header-gray{
  height: 140px;

  border-radius: 10px 10px 0 0;
}

.header-white{
  height: 100px;

  margin-top: 40px;
}

.middle-gray{
  height: 715px;
}

.middle-white{
  height: 715px;
}

.footer-gray{
  height: 40px;
  border-radius: 0 0 10px 10px;
}
/* --- 배경 설정 end --- */


/* --- logo start --- */
/* logo 전체 */
.logo{
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  max-width: 100%;
}

/* logo 사진 */
.logo-pic{
  width: 50px;
  margin-left: 30px;
  margin-right: 7px;
}

/* logo 타이틀 */
.logo-text{
  font-family: 'yg-jalnan';
  font-size: 30px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
/* --- logo end --- */