/* 이비톡 로고 제외 글씨체 */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0 auto ;
}

body{
  width: 600px;
  height: 400px;
}

.title {

}