.search-button {
    background: url('../../img/검색.png') no-repeat center center;
    background-size: contain;
    width: 35px; /* Image width */
    height: 40px; /* Image height */
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
.research-text {
    border-radius: 8px;
    width: 488px;
    height: 30px;
}
  
.contents-box {
    position: relative;
    height: 100%; /* Ensure the parent takes the full height */
}
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 10%;
    left: 76%;
    transform: translate(-50%, -50%);
}

.search-namebox{
    position: absolute;
    top: 220px;
    left: 50%; 
    transform: translateX(-50%);
    background-color: #FFFFFF;
    width: 100%; /* 최대 넓이로 설정 */
    height: 350px;
    overflow-y: auto; 
    max-width: 488px; /* 최대 넓이를 488px로 제한 */
    display: grid; /* Flexbox 설정 */
    row-gap: 2px;
    column-gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.search-username {
    display: grid;
    align-items: center;
    background-color: #7A86B1;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    margin: 2px;
    padding: 5px;
}

.nameid {
    color: #FFFFFF;
    font-family: 'S-CoreDream-3Light';
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}
/*
.search-username{
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap;
    background-color: #7A86B1;
    border-radius: 10px;
    width: 152px;
    max-width: 152px;
    overflow-x: scroll;
    height: 30px;
    margin: 2px 0;
}
*/
.search-username > p {
    margin-left: 8px;
    color: #FFFFFF;
    font-family: 'S-CoreDream-3Light';
}

.search-username::-webkit-scrollbar{
    display: none;
}

.chatbtn{
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    background-color: #00063F;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 590px;
    right: 280px; 
}