.chatbox{
    width: 90%;
    height: 514px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 91px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #dadada;
    border: 1px solid #dadada;
    padding: 10px;
}

.chatlist{ 
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 320px;
}

.chatlist::-webkit-scrollbar{
    width: 10px;
}

.chatlist::-webkit-scrollbar-thumb{
    border-radius: 18px;
    background: var(--line_gray);
}
.chatlist::-webkit-scrollbar-track{
    background: white;
}
.chat-pimg img {
    width: 80px;
    height: 80px; 
    position: relative;
}
.chatinfo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #AEAEAE;
    align-items: center; /* 내부 요소 수직 중앙 정렬 */
    justify-content: flex-start;
    width: 500px;
}
.chatpeople{
    display: flex; /* Flexbox 활성화 */
    flex-direction: row; /* 가로로 정렬 */
}

.chat-imginfo {
    width: 247.09px;
    height: 698px;
}

.pname{
    height: 349px;
}
.pdate{
    height: 349px;
}
.pmessage{
    height: 349px;
}
.pname, .pmessage, .pdate {
    height: auto; /* 높이 자동 조정 */
}
.pname {
    margin-left: 1px;
}

.pmessage {
    font-size: 0.8em;
}

.pdate {
    margin-left: 42px;
    color: #AEAEAE;
    position: absolute;
    bottom: 30px;
    font-size: 0.8em;
}
.pdate-btn {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #ff4646;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 99px;
    position: relative;
    top: 14px;
    font-size: 0.8em;
}

.chat-upinfo{
    width: 92px;
}
.chat-downinfo {
    width: 247.09px;
    position: relative;
}

.chat-upinfo > .pname{
    font-size: 17px;
    font-family: 'yg-jalnan';
    color: black;
}

.profile-pi{
    width: 50px;
    height: 50px;
}

.chatroom{
    width: 580px;
    padding: 0 20px;
}

.chatbox1 {
    height: 100%;
}

.chat{
    width: 100px;
}

.chat3 {
    width: 100%;
}

.chat1, .chat2 {
    width: 100%;
}


.chat12 {
    width: 100%;
    height: 90%;
}
.textbox1{
    display: inline-block;
    background-color: #EBEBEB;
    font-size: 16px;
    border-radius: 10px;
    /* height: 25px; */
    padding: 10px;
    max-width: 310px;
}


.textbox2-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 요소들을 오른쪽으로 정렬 */
    gap: 10px;
}

.ch1{
    width: 100%;
}

.ch2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.textbox2{
    display: inline-block;
    background-color: #7A86B1;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;
    /* height: 25px; */
    padding: 10px;
    margin-bottom: 20px;
    max-width: 310px;
}


.messagebox {
    display: flex;
    flex-direction: row; /* 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 (원하는 경우) */
    justify-content: space-between; /* 요소 사이의 간격 조정 */
}

.messagebox > .ppimg, .messagebox > .messagebb, .messagebox > .sendbtn {
    flex: 1; /* 각 요소가 동일한 너비를 가지도록 설정 (필요 시 조정 가능) */
    transform: translateY(3px); /* 아래로 3px 이동 */
}

.messagebox > .messagebb {
    flex: 1;
}

.img-btn {
    width: 50px;
    height: 50px;
}

.mes-btn{
    width: 50px;
    height: 50px;
    
}
.message-text{
    width: 500px;
    border-radius: 8px;
    height: 25px;
}
