/* board_list.css */

.back-color {
    width: 900px;
    height: 500px;
    margin: auto;
}

.search-color {
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.board-search {
    display: flex;
    align-items: center;
}

.pagination {
    display: flex;
    align-items: center;
}

#board-write {
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
}

.write {
    padding: 10px 20px;
    background-color: var(--common_blue);
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    cursor: pointer;
}

.write:hover {
    background-color: var(--text_purple);
}

.board-search .selectField {
    width: 70px;
    height: 25px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #d9d9d9;
}

.board-search .textField {
    width: 90px;
    height: 23px;
    border: none;
    border-radius: 0px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.textField:focus {
    outline: none;
}

.top-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.number,
.subject,
.name,
.created,
.hitCount {
    padding: 15px;
}

dt {
    float: left;
}

.subject {
    margin-left: 200px;
}

.name {
    margin-left: 200px;
}

.created {
    margin-left: 70px;
}

.hitCount {
    margin-left: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-link,
.page-first,
.page-last {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
}

.page-link:hover,
.page-first:hover,
.page-last:hover {
    text-decoration: underline;
}

.board-search form {
    display: flex;
    align-items: center;
}

.selectField,
.textField,
.btn {
    padding: 0px 12px;
    border-radius: 5px;
}

.board-search .btn {
    background-color: var(--common_blue);
    color: white;
    border: none;
    cursor: pointer;
    height: 25px;
    border-radius: 0px 5px 5px 0px;
}
