/* notice_edit.css */

/* 공통 스타일 */
.board_view {
    width: 100%;
    border-top: 1px solid var(--aside_gray);
    text-align: center;
}

/* 제목 섹션 */
.title {
    margin-top: 80px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

#view-title {
    height: 30px;
    width: 400px;
    margin-right: 100px;
    font-size: 20px;
    border: 3px solid var(--aside_gray);
    border-radius: 10px;
}

#view-title:focus {
    outline: none;
}

#view-name {
    margin-right: 100px;
}

.title img {
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 100px;
}

/* 조회수 아이콘 */
.eyes {
    width: 20px;
}

/* 내용 섹션 */
.cont {
    width: 800px;
    height: 400px;
    line-height: 25px;
    margin-top: 20px;
    display: inline-block;
    text-align: left;
}

.edit-content {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    border: 3px solid var(--aside_gray);
}

.edit-content:focus {
    outline: none;
}
.edit-content::-webkit-scrollbar{
    width: 10px;
}
.edit-content::-webkit-scrollbar-thumb{
    border-radius: 18px;
    background-color: var(--line_gray)
}
.edit-content::-webkit-scrollbar-track{
    background: white;
}

/* 버튼 섹션 */
.bt_wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.bt_wrap a {
    padding: 10px 20px;
    background-color: var(--common_blue);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.bt_wrap a.edit {
    margin-right: 120px;
}

.bt_wrap a:hover {
    background-color: var(--text_purple);
}
