/* notice_view.css */

/* 제목 섹션 */
.title {
    margin-top: 80px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

#view-title {
    margin-right: 100px;
    font-size: 20px;
}

#view-name {
    margin-right: 100px;
}

.title img {
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 100px;
}

/* 내용 섹션 */
.cont {
    width: 800px;
    height: 400px;
    line-height: 25px;
    margin-top: 20px;
    display: inline-block;
    text-align: left;
    font-weight: 100;
    margin-left: 125px;
}

/* 조회수 아이콘 */
.eyes {
    width: 20px;
    height: 20px;
}

/* 버튼 섹션 */
.bt_wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.bt_wrap a {
    padding: 10px 20px;
    background-color: var(--common_blue);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.bt_wrap a.edit {
    margin-right: 120px;
}

.bt_wrap a:hover {
    background-color: var(--text_purple);
}
