.contents-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font{
    font-family: 'S-CoreDream-3Light';
    padding: 15px;
    margin: 20px;
}

.pw-input-form{
    display: flex;
}

.pw-input{
    font-size: 15px;
    margin-bottom: 0;

    width: 450px;

    border-radius: 10px;
}

.info-msg{
    color: red;
    font-size: 15px;

    margin-left: 23px;
    margin-bottom: 40px;
}

.btn{
    height: 56px;
    margin-top: 19px;
    margin-left: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;

    border: none;
    border-radius: 10px;
    background-color: var(--common_blue);
    color: white;

    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
}