/* --- 비밀번호 재설정 start --- */
/* 비밀번호 재설정 전체 */
.reset-pw-box{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 30px;
}
  
/* 비밀번호 재설성 타이틀 */
.reset-pw-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 45px;
}

/* 폼 전체 설정 */
.reset-pw-form{
    display: flex;
    flex-direction: column;
}

/* 폼 내 input 태그 설정 */
.reset-pw{
    font-family: 'S-CoreDream-3Light';
    padding: 15px;
    margin: 20px;
  
    border-radius: 10px;
}

/* 입력란 설정 */
.reset-pw-input{
    font-size: 15px;
}
  
/* 확인 버튼 설정 */
.reset-pw-btn{
    border: none;
  
    font-size: 20px;
    color: white;
    background-color: var(--common_blue);
  
    margin-bottom: 5px;
}
.reset-pw-btn:hover{
    cursor: pointer;
}