/* --- 로그인 start --- */
/* 로그인 전체 */
.sign-in-box{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
}

.sign-in-title{
  font-size: 30px;
}

.sign-in-form{
  display: flex;
  flex-direction: column;
}

.sign-in{
  font-family: 'S-CoreDream-3Light';
}

.sign-in-input{

}
/* --- 로그인 end --- */