/* --- 로그인 start --- */
/* 로그인 전체 */
.sign-in-box{
  width: 600px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  margin-top: 45px;
}

/* 로그인 타이틀 */
.sign-in-title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
}

/* 로그인 아이디/비밀번호 작성란, 로그인 버튼 전체 설정 */
.sign-in-form{
  display: flex;
  flex-direction: column;
}

/* 로그인 폼 내 input 태그 설정 */
.sign-in{
  font-family: 'S-CoreDream-3Light';
  padding: 15px;
  margin: 20px;

  border-radius: 10px;
}

/* 아이디/비밀번호 입력란 설정 */
.sign-in-input{
  font-size: 15px;
}

/* 로그인 버튼 설정 */
.sign-in-btn{
  border: none;

  font-size: 20px;
  color: white;
  background-color: var(--common_blue);

  margin-bottom: 5px;
}
.sign-in-btn:hover{
  cursor: pointer;
}

/* 아이디 / 비밀번호 찾기, 회원가입 버튼 설정 */
.sign-in-option{
  display: flex;
  justify-content: center;
}
.sign-in-option > a{
  color: var(--text_gray);
  border-right: 1.5px solid var(--text_gray);

  margin-left: 13px;
  padding-right: 13px;

  font-weight: 500;
}
.sign-in-option > a:last-child{
  border-right: none;
}
/* --- 로그인 end --- */